## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [22]:
#Weather API key
weather_api_key="7b94ca86319b453da399c67dc19912a2"

# Google API Key
g_key = "AIzaSyA4agfLEJL78LGM4Yb0HEue9edH8Cgj-5E"

In [23]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,49.14,81,28,2.57,scattered clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,53.89,87,0,3.44,clear sky
2,2,Provideniya,RU,64.3833,-173.3000,51.91,58,0,15.99,clear sky
3,3,Hamilton,US,39.1834,-84.5333,67.05,66,100,17.27,overcast clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,83.77,71,98,13.20,overcast clouds

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hithadhoo,MV,-0.6000,73.0833,83.77,71,98,13.20,overcast clouds
5,5,Agua Verde,MX,22.9000,-106.0500,79.07,64,3,9.69,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,77.92,79,28,17.74,light rain
9,9,Ternate,ID,0.8000,127.4000,81.25,78,99,3.40,overcast clouds
11,11,Bengkulu,ID,-3.8004,102.2655,76.10,88,32,3.51,scattered clouds
12,12,Bambous Virieux,MU,-20.3428,57.7575,75.45,73,40,9.22,scattered clouds
13,13,Rikitea,PF,-23.1203,-134.9692,75.51,78,13,14.38,light rain
14,14,Albany,US,42.6001,-73.9662,70.21,94,94,13.15,overcast clouds
22,22,Kapaa,US,22.0752,-159.3190,81.48,79,40,11.50,scattered clouds
25,25,Tabuk,PH,17.4189,121.4443,79.90,84,83,4.99,light rain

In [26]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,83.77,overcast clouds,-0.6000,73.0833,
5,Agua Verde,MX,79.07,clear sky,22.9000,-106.0500,
6,Atuona,PF,77.92,light rain,-9.8000,-139.0333,
9,Ternate,ID,81.25,overcast clouds,0.8000,127.4000,
11,Bengkulu,ID,76.10,scattered clouds,-3.8004,102.2655,
12,Bambous Virieux,MU,75.45,scattered clouds,-20.3428,57.7575,
13,Rikitea,PF,75.51,light rain,-23.1203,-134.9692,
14,Albany,US,70.21,overcast clouds,42.6001,-73.9662,
22,Kapaa,US,81.48,scattered clouds,22.0752,-159.3190,
25,Tabuk,PH,79.90,light rain,17.4189,121.4443,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,83.77,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Atuona,PF,77.92,light rain,-9.8000,-139.0333,Villa Enata
9,Ternate,ID,81.25,overcast clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
11,Bengkulu,ID,76.10,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
12,Bambous Virieux,MU,75.45,scattered clouds,-20.3428,57.7575,Casa Tia Villa

In [34]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))